<section class="page-section">
  <div class="page-wrapper">
    <div class="settings">
      <app-btn
        btnName="Add"
        [tooltipViewer]="(chartsList$ | async)?.length === 4 ? btnStatusDescription.MAX_LIMIT : btnStatusDescription.NOT_ALLOWED"
        [isDisabled]="!adminRules || (chartsList$ | async)?.length === 4"
        (onClickEvent)="showNewChartOptionsModal()">
      </app-btn>

      <mat-slide-toggle
            class="example-margin"
            color="primary"
            [checked]="adminRules"
            (click)="changeRole()"
        >
          activate Admin rules
        </mat-slide-toggle>
    </div>

    <div *ngIf="(chartsList$ | async)?.length; else empty" class="dashboards-wrapper">
      <ng-container *ngFor="let card of (chartsList$ | async); trackBy: trackByFunc">
        <app-chart-card [data]="card" (deleteCardEvent)="deleteChartCard($event)"></app-chart-card>
      </ng-container>
    </div>

    <ng-template #empty>
      <h3>Dashboard is empty</h3>
    </ng-template>

  </div>
</section>
